@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

@import './_app';
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('../../SVG/cool-background\ \(2\).png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
}
.diary{
    header{
        @include displayProvider1();
        padding: 30px;
        h1{
            font-family: 'Righteous', cursive;
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 50px;
            width: 300px;
            @include providerbackground();
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        i{
            color: white;
            font-size: 40px;
        }
    }
}